<div ng-controller="FriendListCtrl">  
        <section>
        <h2>Friend List</h2>
     
        <p>Friend list</p>
        <a href="#/about">About</a> |
        <a href="#/home">Go home</a> 
        <div>
        <a href="#/friend/list">Friend list</a> | 
        <a href="#/friend/new">New friend</a> 
        </div>
        </section>
        <section>
            <h3>Friends</h3>
         <div ng-repeat="friend in friends">
            <div>
                <div><b>{{friend.name}}</b></div> 
                <div>{{friend.number}}</div>
                <div>
                    <a href="#/friend/detail/{{friend.id}}">Detail</a> | 
                    <a href="#/friend/update/{{friend.id}}">Update</a> | 
                    <a href="#/friend/delete/{{friend.id}}">Delete</a>
                </div>
            </div>
            <!--span><img src="img/players/players{{team.getId()}}.jpg" class="img-thumbnail"></span --> 
        </div>
        </section>
    </div>