<div ng-controller="FriendNewCtrl">  
        <section>
        <h2>Friend New</h2>
     
        <p>Friend New</p>
        <a href="#/about">About</a> |
        <a href="#/home">Go home</a> 
        <div>
        <a href="#/friend/list">Friend list</a> | 
        <a href="#/friend/new">New friend</a> 
        </div>
        </section>
        <section>
            <form>
                <div><label for="name">Name</label></div>
                <div><input id="name" type="text" ng-model="friend.name"></div>
                <div><label for="number">Number</label></div>
                <div><input id="number" type="text" ng-model="friend.number"></div>
                <input type="button" value="Save new Friend" ng-click="save()">
            </form>
        </section>
    </div>