<div ng-controller="FriendDetailCtrl">  
        <section>
        <h2 id="title">Friend Detail</h2>
     
        <p>Friend Detail  {{friend.name}}</p>
         <div>
            <div class="friend" id="friend{{friend.id}}">
                <div class="friendname"><b>{{friend.name}}</b></div> 
                <div class="friendid"><b>{{friend.id}}</b></div> 
                <div class="friendnumber">{{friend.number}}</div>
                <div>
                    <a href="#/friend/detail/{{friend.id}}">Detail</a> | 
                    <a href="#/friend/update/{{friend.id}}">Update</a> | 
                    <a href="#/friend/delete/{{friend.id}}">Delete</a>
                </div>
            </div>
            <!--span><img src="img/players/players{{team.getId()}}.jpg" class="img-thumbnail"></span --> 
        </div>
        </section>
    </div>