<div ng-controller="FriendListCtrl">  
        <section>
        <h2 id="title">Friend list</h2>
     
        <p>Friend list</p>
        <div>
        <a href="#/friend/list">Friend list</a> | 
        <a href="#/friend/new">New friend</a> 
        </div>
        </section>
        <section>
            <h3>Friends</h3>
         <div id="friends" ng-repeat="friend in friends">
            <div class="friend" id="friend{{friend.id}}">
                <div class="friendname"><b>{{friend.name}}</b></div> 
                <div class="friendnumber">{{friend.number}}</div>
                <div>
                    <a href="#/friend/detail/{{friend.id}}">Detail</a> | 
                    <a href="#/friend/update/{{friend.id}}">Update</a> | 
                    <a href="#/friend/delete/{{friend.id}}">Delete</a>
                </div>
            </div>
            <!--span><img src="img/players/players{{team.getId()}}.jpg" class="img-thumbnail"></span --> 
        </div>
        </section>
    </div>