<div ng-controller="FriendDetailCtrl">  
        <section>
        <h2>Friend Detail</h2>
     
        <p>Friend Detail</p>
        <a href="#/about">About</a> |
        <a href="#/home">Go home</a> 
        <div>
        <a href="#/friend/list">Friend list</a> | 
        <a href="#/friend/detail/1">Friend detail</a> |
        <a href="#/friend/new">New friend</a> |
        <a href="#/friend/update/1">Friend update</a> |
        <a href="#/friend/delete/1">Delete friend</a>

        </div>
        </section>
      <section>
            <h3>Friend detail {{friend.name}}</h3>
         <div>
            <div>
                <div><b>{{friend.name}}</b></div> 
                <div><b>{{friend.id}}</b></div> 
                <div>{{friend.number}}</div>
                <div>
                    <a href="#/friend/detail/{{friend.id}}">Detail</a> | 
                    <a href="#/friend/update/{{friend.id}}">Update</a> | 
                    <a href="#/friend/delete/{{friend.id}}">Delete</a>
                </div>
            </div>
            <!--span><img src="img/players/players{{team.getId()}}.jpg" class="img-thumbnail"></span --> 
        </div>
        </section>
    </div>