<div ng-controller="FriendDeleteCtrl">  
        <section>
        <h2>Friend Delete</h2>
     
        <p>Friend delete</p>
        <a href="#/about">About</a> |
        <a href="#/home">Go home</a> 
        <div>
        <a href="#/friend/list">Friend list</a> | 
        <a href="#/friend/detail/1">Friend detail</a> |
        <a href="#/friend/new">New friend</a> |
        <a href="#/friend/update/1">Friend update</a> |
        <a href="#/friend/delete/1">Delete friend</a>

        </div>
        </section>
    </div>