<div ng-controller="FriendUpdateCtrl">  
        <section>
        <h2 id="title">Friend Update</h2>
     
        <p>Friend Update</p>
        <div>
        <a href="#/friend/list">Friend list</a> | 
        <a href="#/friend/new">New friend</a> 
        </div>
        </section>
            <section>
            <form>
                <input type="hidden" ng-model="friend.id">
                <div><label for="name">Name</label></div>
                <div><input id="name" type="text" ng-model="friend.name"></div>
                <div><label for="number">Number</label></div>
                <div><input id="number" type="text" ng-model="friend.number"></div>
                <input type="button" value="Update Friend" ng-click="update()">
            </form>
        </section>
    </div>